/* Navbar */
.btn-green {
    background-color: #5CB85F;
    border-radius: 5px;
    color: #fff !important;
    padding-left: 17px !important;
    padding-right: 17px !important;  
}

.navbar-light {
    background-color: #F1F3FF !important;
}

/* header */
.header-light {
    background-color: #F1F3FF !important;
}

.img-header {
    width: 115%;
}

.btn-sewa {
    background-color: #5CB85F;
    border-radius: 5px;
    color: #fff !important;
}

/* Best Car Service */
.img-service {
    width: 330px;
    margin-left: 50px;
}

.text-service {
    margin-left: 178px;
}


/* Why Us */


/* Tetimonial */
.carousel-inner {
    background-color: #F1F3FF;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
}

.img-testimonial{
    padding-left: 330px;
    padding-top: 26px;
}

/* Sewa Mobil */
.sewa-section {
    background-color: #0D28A6;
    border-radius: 10px;
    padding-top: 29px;
    padding-bottom: 37px;
}

/* FAQ */
.text-FAQ {
    padding-left: 30px;
}

/* Foother */
.foother {
    padding-left: 20px;
}

@media only screen and (max-width: 375px) {
    .img-header {
        width: 100%;
    }

    .img-service {
        width: 283px;
        padding: 0px !important;
        margin-left: 18px;
    }
    
    .text-service {
        margin-right: 10px;
        margin-left: 9px;
    }

    .bg-blue {
        background-color: #0D28A6 !important;
        border-radius: 10px;
        padding-top: 15px;
        padding-bottom: 5px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .img-testimonial {
        padding-left: 125px;
        padding-top: 4px;
    }

    .review {
        padding-left: 127px;
    }

}